<script setup lang="ts">
import { onMounted, ref, onUnmounted, computed } from "vue";
import { currentGame } from "../currentGame";
import { IGameState, IGameFrame, TArtifact } from "../game/interface";

import Gun from "../assets/gun.vue";
import Boom from "../assets/boom.vue";
import Enemy from "../assets/enemy.vue";
import Asteroid from "../assets/asteroid.vue";
import Bullet from "../assets/bullet.vue";

const toPos = (pos: TArtifact) => ({
    top: `${pos.top}px`,
    left: `${pos.left}px`,
});

let $stateChanges: () => void;
let $frameChanges: () => void;

const gameState = ref<IGameState>(currentGame.getState());
const gameFrame = ref<IGameFrame>(currentGame.getFrame());

const toggleGameState = () => {
    if (gameState.value.state === "play") {
        currentGame.pauseGame();
        return;
    }

    if (gameState.value.state === "pause") {
        currentGame.playGame();
        return;
    }
};

const coolDownColor = computed(() => {
    const frame = gameFrame.value.gun.coolDownFrame;
    let background = "red";
    if (frame < 150) {
        background = "yellow";
    }
    if (frame < 20) {
        background = "white";
    }

    return {
        background,
    };
});

const healthColor = computed(() => {
    const health = gameState.value.health;
    let background = "lightgreen";
    if (health < 4) {
        background = "lightcoral";
    }

    return {
        background,
    };
});

onMounted(() => {
    $stateChanges = currentGame.registerStateChange((state) => {
        gameState.value = state;
    });

    $frameChanges = currentGame.registerFrameChange((frame) => {
        gameFrame.value = frame;
    });

    currentGame.createScene();

    document.addEventListener("keydown", currentGame.handleKeyboard);
});

onUnmounted(() => {
    $stateChanges?.();
    $frameChanges?.();
});
</script>

<template>
    <div class="flex col items-center justify-center h-full">
        <div>
            <div class="flex justify-between">
                <p class="sans">Space shooter</p>

                <p
                    class="next-level"
                    v-if="gameFrame.nextLevel.removeAfterFrameCount > 0"
                >
                    Next Level!!!
                </p>

                <p>
                    <span style="text-align: right"
                        >{{ gameState.score }}pt</span
                    >
                    - #{{ gameState.level }}
                </p>
            </div>
            <div
                :id="currentGame.getFrameId()"
                class="game-border mt-20 relative"
                :style="{
                    height: `${currentGame.boxHeight}px`,
                    width: `${currentGame.boxWidth}px`,
                }"
            >
                <Boom
                    class="absolute"
                    v-for="boom in gameFrame.boom"
                    :style="{
                        ...toPos(boom),
                        stroke: boom.isPainful ? 'red' : 'gray',
                        fill: boom.isPainful ? 'red' : 'gray',
                    }"
                />

                <Enemy
                    class="absolute"
                    v-for="enemy in gameFrame.enemies"
                    :style="{ ...toPos(enemy) }"
                />

                <Asteroid
                    class="absolute"
                    v-for="asteroid in gameFrame.asteroids"
                    :style="{ ...toPos(asteroid) }"
                />

                <Bullet
                    class="absolute"
                    v-for="bullet in gameFrame.bullets"
                    :style="{
                        ...toPos(bullet),
                        stroke: bullet.isFriendly ? 'red' : 'skyblue',
                    }"
                />

                <Gun
                    :id="gameFrame.gun.id"
                    class="absolute"
                    :style="{
                        ...toPos(gameFrame.gun),
                        fill: coolDownColor.background,
                    }"
                />
            </div>

            <div>
                <div class="flex items-center health mt-4">
                    <span
                        v-for="_ in Array(gameState.health).fill(0)"
                        :style="{
                            width: `${(1 / gameState.maxHealth) * 100}%`,
                            background: healthColor.background,
                        }"
                    />
                </div>
            </div>

            <div class="mt-20">
                <button class="btn" @click="toggleGameState()">
                    <p v-if="gameState.state === 'play'">Pause game</p>
                    <p v-if="gameState.state === 'pause'">Resume</p>
                </button>
            </div>
        </div>
    </div>
</template>
