<script setup lang="ts">
import { currentGame } from "../currentGame";

import Gun from "../assets/gun.vue";
import Enemy from "../assets/enemy.vue";
import Asteroid from "../assets/asteroid.vue";
import Bullet from "../assets/bullet.vue";

const onPlay = () => {
    currentGame.playGame();
};
</script>

<template>
    <div class="flex col items-center justify-center h-full">
        <div class="flex col items-center">
            <h1>Space shooters</h1>
            <div class="mt-4 mt-40">
                <button class="btn large" @click="onPlay()">
                    <p>Start playing</p>
                </button>
            </div>
            <div class="mt-40 flex col items-center">
                <p class="underline">How to play</p>
                <div class="mt-20">
                    <p>
                        Use left_arrow / right_arrow to move the <Gun /> and
                        space_bar to fire <Bullet />
                    </p>
                </div>
                <div class="mt-20">
                    <p>Breaking <Asteroid /> = 10pts and <Enemy /> = 20pts</p>
                </div>
                <div class="mt-20">
                    <p>
                        <Bullet /> and
                        <Bullet :style="{ stroke: 'skyblue' }" /> cancel each
                        other
                    </p>
                </div>
                <div class="mt-20 flex col items-center">
                    <p>Your <Gun /> needs to cool down after firing a bullet</p>
                    <p><Gun fill="red" /> - cannot fire a bullet</p>
                    <p><Gun fill="yellow" /> - peak - fires 2 bullet</p>
                    <p><Gun fill="white" /> - fires one bullet</p>
                    <p>
                        Firing a bullet when <Gun fill="red" /> - jams your gun
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
