<script setup lang="ts">
import { currentGame } from "../currentGame";

const { score } = currentGame.getState();

const onPlay = () => {
    currentGame.playGame();
};
</script>

<template>
    <div class="flex col items-center justify-center h-full">
        <div class="flex col items-center">
            <h1>Game Over!</h1>
            <p class="mt-4">your score - {{ score }}</p>
            <div class="mt-4 mt-40">
                <button class="btn large" @click="onPlay()">
                    <p>Play again!</p>
                </button>
            </div>
        </div>
    </div>
</template>
