<script setup lang="ts">
import { ref, onMounted } from "vue";
import { currentGame } from "../currentGame";
import { IGameState } from "../game/interface";

import Game from "./game.vue";
import Menu from "./menu.vue";
import Over from "./over.vue";

const gameState = ref<IGameState["state"]>(currentGame.getState().state);

onMounted(() => {
    currentGame.registerStateChange(({ state }) => {
        gameState.value = state;
    });
});
</script>

<template>
    <Menu v-if="gameState === 'init'" />
    <Over v-else-if="gameState === 'over'" />
    <Game v-else />
</template>
