<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
    name: "Rock",
});
</script>
<template>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        stroke="white"
    >
        <g
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
        >
            <path
                d="m2.177 12.98l1.318-4.4a4.1 4.1 0 0 1 2.037-2.47l1.595-.82c1.248-.641 2.766-.187 3.484 1.042l1.493 2.558c.369.63.553.946.79 1.109c.332.228.75.281 1.126.143c.268-.098.52-.358 1.026-.878a2.627 2.627 0 0 1 4.11.418l1.171 1.805a4.2 4.2 0 0 1 .519 3.414l-.342 1.23a4.1 4.1 0 0 1-2.06 2.55l-5.613 2.884a3.92 3.92 0 0 1-4.12-.332L3.679 17.54c-1.403-1.03-2.008-2.867-1.5-4.56M16 14h.009M11 15.5L9.5 17"
            />
            <path
                d="M9 10.753c-.943-.588-1.414-.882-1.854-.7c-.439.183-.675.771-1.146 1.947M19.956 2h-1.722c-.271 0-.407 0-.533.02a1.5 1.5 0 0 0-.788.37c-.09.08-.164.18-.315.377c-.323.424-.485.637-.546.834c-.15.476.03.985.462 1.303c.178.132.449.226.99.416l1.014.356c.647.226.97.34 1.294.322q.207-.01.4-.072c.306-.096.552-.311 1.044-.743l.145-.127a3 3 0 0 0 .328-.31c.13-.158.216-.34.252-.533C22 4.11 22 4.004 22 3.79c0-.488 0-.732-.076-.929c-.144-.374-.48-.668-.907-.795C20.792 2 20.513 2 19.956 2"
            />
        </g>
    </svg>
</template>
