<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
    name: "Boom",
});
</script>
<template>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 24 24"
    >
        <path
            d="M7 3H3v4h4zm0 14H3v4h4zM17 3h4v4h-4zm4 14h-4v4h4zM8 8h2v2H8zm4 2h-2v4H8v2h2v-2h4v2h2v-2h-2v-4h2V8h-2v2z"
        />
    </svg>
</template>
