<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
    name: "Bullet",
});
</script>
<template>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16px"
        height="16px"
        viewBox="0 0 24 24"
        style="fill: red; stroke: red"
    >
        <path
            fill="currentColor"
            d="M17 3H7v2H5v2H3v10h2v2h2v2h10v-2h2v-2h2V7h-2V5h-2zm0 2v2h2v10h-2v2H7v-2H5V7h2V5z"
        />
    </svg>
</template>
