<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
    name: "Enemy",
});
</script>

<template>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32px"
        height="32px"
        viewBox="0 0 24 24"
        style="rotate: 90deg"
    >
        <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            color="currentColor"
        >
            <path d="M15 4h6m-6 11h6m-6-6h6m-6 11h6" />
            <circle cx="6.5" cy="6.5" r="3.5" />
            <circle cx="6.5" cy="17.5" r="3.5" />
        </g>
    </svg>
</template>
