:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
    height: 99vh;
    width: 99vw;
}

h1,
h2,
h3 {
    margin: 0;
    color: gray;
}

p,
a {
    margin: 0;
}

.sans {
    font-family: "Times New Roman", Times, serif;
}

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.mt-4 {
    margin-top: 4px;
}

.btn {
    all: unset;
    border: 1px solid gray;
    padding: 4px 10px;
    background: transparent;
    color: white;
    cursor: pointer;
}

.btn.large {
    font-size: 1.2rem;
}

.underline {
    text-decoration: underline;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.h-full {
    height: 100%;
    width: 100%;
}

.game-border {
    border: 1px solid gray;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.cooldown-counter {
    height: 8px;
    background-color: gray;
}

.health > span {
    height: 8px;
    margin-right: 1px;
}

.next-level {
    font-weight: bold;
    animation: color-change 2s ease forwards;
}

@keyframes color-change {
    0% {
        color: red;
    }
    25% {
        color: green;
    }
    75% {
        color: yellow;
    }
    100% {
        color: pink;
    }
}
